<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    </head>
    <body>
        <main class="container">
            <a href="/submit" role="button" class="secondary">Create Profile</a>
            <hr>
            <h1>Reading data from database</h1>
            <table>
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Surname </th>
                        <th> Age </th>
                        <th> Username </th>
                    </tr>
                </thead>
                <tbody>
                <% obj.forEach( (user) => { %>
                        <tr>
                            <td> <%= user.name %> </td>
                            <td> <%= user.surname %> </td>
                            <td> <%= user.age %> </td>
                            <td> <%= user.username %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </main>
    </body>
</html>