<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    </head>
    <body>
        <main class="container">
            <a href="/" role="button" class="secondary">List of Profiles</a>
            <hr>
            <h1> Login to application </h1>
            <% if(message){ %>
                <h2> <%= message %> </h2>
            <% } %>
            <form action="/login" method="POST">
                <fieldset>
                    <label for="username">Username</label>
                    <input type="text" name="username" >
                    <br>
                    <label for="password">Password</label>
                    <input type="password" name="password" >
                    <br><br>
                    <input type="submit" value="Check User" class="secondary outline">
                </fieldset>
            </form>
        </main>
    </body>
</html>